# Gathering Data for the Model

In this notebook we will gather and fecth raw data from the market via Yahoo Finance for the model. For this part we will fecth the last 10 years for daily data for the SPY and the VIX (Implied Volatility Index). Both stocks data will give clearly benchmarks. The decision for the daily lyes under the certainity of the movement and vast data availibility from it, also models such as Garch and TFT can learn better from this timeframe rather than the noisy smaller dataframes. 

## Data fetching

For this case we will use Yfinance API to fetch the data of SPY and vix, we will fetch a total worth of 13 years, since we will train the model with 10 years of historical data and use 3 years for testing the model also for the VIX we will only get 3 years worth of data with the only use being to becnhmark with the model predictions.

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [3]:
spy = yf.download('SPY', start='2012-01-01', interval='1d')
spy.head()

/var/folders/fc/p3nd1byj5px7s1tkb_qphzhm0000gn/T/ipykernel_34155/2893868876.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  spy = yf.download('SPY', start='2012-01-01', interval='1d')
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2012-01-03  100.154587  100.845854  100.099600  100.358825  193697900
2012-01-04  100.311668  100.398077   99.533999   99.918905  127186500
2012-01-05  100.578773  100.728025   99.314082   99.769688  173895000
2012-01-06  100.319557  100.720177   99.989638  100.704463  148050000
2012-01-09  100.563026  100.688701  100.083855  100.547313   99530200

In [4]:
vix = yf.download('^VIX', start='2022-01-01', interval='1d')
vix.head()

/var/folders/fc/p3nd1byj5px7s1tkb_qphzhm0000gn/T/ipykernel_34155/4075848686.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  vix = yf.download('^VIX', start='2022-01-01', interval='1d')
[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open Volume
Ticker           ^VIX       ^VIX       ^VIX       ^VIX   ^VIX
Date
2022-01-03  16.600000  18.540001  16.559999  17.600000      0
2022-01-04  16.910000  17.809999  16.340000  16.570000      0
2022-01-05  19.730000  20.170000  16.580000  17.070000      0
2022-01-06  19.610001  21.059999  19.080000  20.290001      0
2022-01-07  18.760000  20.799999  18.570000  19.850000      0

## Data Sanity Check

In this part we will just take a look if the data is correct and if everything in both dataframes arec correctly downloaded. Posterior to it we will proceed rto save both datasets as CSV files in the project.

In [6]:
spy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3425 entries, 2012-01-03 to 2025-08-15
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, SPY)   3425 non-null   float64
 1   (High, SPY)    3425 non-null   float64
 2   (Low, SPY)     3425 non-null   float64
 3   (Open, SPY)    3425 non-null   float64
 4   (Volume, SPY)  3425 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 160.5 KB

In [7]:
vix.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 908 entries, 2022-01-03 to 2025-08-15
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, ^VIX)   908 non-null    float64
 1   (High, ^VIX)    908 non-null    float64
 2   (Low, ^VIX)     908 non-null    float64
 3   (Open, ^VIX)    908 non-null    float64
 4   (Volume, ^VIX)  908 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 42.6 KB

In [13]:
spy = spy.reset_index(drop=True)
vix = vix.reset_index(drop=True)

In [14]:
spy.isnull().sum()

Price   Ticker
Date              0
Close   SPY       0
High    SPY       0
Low     SPY       0
Open    SPY       0
Volume  SPY       0
dtype: int64

In [15]:
vix.isnull().sum()

Price   Ticker
Date              0
Close   ^VIX      0
High    ^VIX      0
Low     ^VIX      0
Open    ^VIX      0
Volume  ^VIX      0
dtype: int64

In [16]:
spy.describe()

Price,Date,Close,High,Low,Open,Volume
Ticker,,SPY,SPY,SPY,SPY,SPY
count,3425,3425.000000,3425.000000,3425.000000,3425.000000,3.425000e+03
mean,2018-10-23 08:14:00.875912192,285.414624,286.893345,283.691920,285.356286,9.485937e+07
min,2012-01-03 00:00:00,100.154587,100.398077,99.314082,99.769688,2.027000e+07
25%,2015-06-01 00:00:00,171.905807,172.652847,171.038900,171.886229,6.270010e+07
50%,2018-10-22 00:00:00,247.776566,248.898262,246.329365,247.959888,8.313320e+07
75%,2022-03-17 00:00:00,394.931427,397.387401,392.680262,394.980658,1.144972e+08
max,2025-08-15 00:00:00,644.950012,646.190002,642.679993,645.989990,5.072443e+08
std,NaN,140.045702,140.798442,139.150398,140.017687,4.741799e+07

In [17]:
spy.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']
vix.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']

spy = spy.set_index('Date')
vix = vix.set_index('Date')

In [18]:
spy.tail(10)

                 Close        High         Low        Open    Volume
Date
2025-08-04  631.169983  631.219971  625.580017  625.669983  73218000
2025-08-05  627.969971  632.609985  627.039978  631.789978  68051400
2025-08-06  632.780029  633.440002  628.130005  629.049988  64357500
2025-08-07  632.250000  636.979980  629.109985  636.239990  74205800
2025-08-08  637.179993  637.650024  633.739990  634.059998  64051600
2025-08-11  635.919983  638.950012  634.659973  637.460022  58742300
2025-08-12  642.690002  642.849976  636.789978  638.289978  64730800
2025-08-13  644.890015  646.190002  642.679993  644.909973  60092800
2025-08-14  644.950012  645.619995  642.340027  642.789978  59327500
2025-08-15  643.440002  646.090027  642.520020  645.989990  68464600

In [19]:
vix.tail(10)

            Close       High        Low       Open  Volume
Date
2025-08-04  17.52  19.580000  17.480000  19.559999       0
2025-08-05  17.85  18.940001  17.110001  17.209999       0
2025-08-06  16.77  17.879999  16.559999  17.219999       0
2025-08-07  16.57  17.639999  15.980000  16.410000       0
2025-08-08  15.15  16.520000  15.150000  16.480000       0
2025-08-11  16.25  16.360001  15.520000  15.810000       0
2025-08-12  14.73  16.559999  14.660000  16.090000       0
2025-08-13  14.49  14.810000  14.300000  14.620000       0
2025-08-14  14.83  15.390000  14.570000  14.660000       0
2025-08-15  15.09  15.180000  14.400000  14.430000       0

In [20]:
spy.to_csv('../data/raw/spy_data.csv')
vix.to_csv('../data/raw/vix_data.csv')

## Conclusions for both Datasets

Both datasets have no issue and are ready to be used for Exploratory Data Analysis to find more significant relations between the assets and see how does SPY was moving all the years.